@font-face {
    font-family: JosefinSans-Light;
    src: url(../fonts/JosefinSans-Light/JosefinSans-Light.ttf);
   }
@font-face {
    font-family: JosefinSans-Bold;
    src: url(../fonts/JosefinSans-Bold/JosefinSans-Bold.ttf);
   }
@font-face {
    font-family: JosefinSans-Regular;
    src: url(../fonts/JosefinSans-Regular/JosefinSans-Regular.ttf);
   }
@font-face {
    font-family: GildaDisplay-Regular;
    src: url(../fonts/GildaDisplay-Regular/GildaDisplay-Regular.ttf);
   }
/*Масив с сылками(путями) */