* {
    margin: 0;
    padding: 0;
}

a:hover {
    opacity: 0.5;
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
}

img {
    cursor: pointer;
}

.pre-header {
    width: 100%;
    height: 34px;
    background: #f5f5f5;
}

.pre-header-inner {
    width: 978px;
    height: 100%;
    margin: 0 auto;
}

.currency {
    width: 12%;
    float: left;
    position: relative;
}

.currency a {
    display: block;
}

.currency a:first-child {
    margin-right: 8%;
}

.currency .multuchose {
    background: url(../img/sprites.png) no-repeat;
    background-position: 16px -15px;
    width: 46px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    display: block;
    margin-top: 8px;
    font-family: JosefinSans-Light;
    font-size: 11px;
    float: left;
    text-transform: uppercase;
    color: #3f3f3f;
    font-weight: bold;
}

.currency a {
    display: block;
    line-height: 3;
    font-family: JosefinSans-Light;
    font-size: 11px;
    float: left;
    text-transform: uppercase;
    color: #3f3f3f;
    font-weight: bold;
}

.enter-block {
    float: right;
    width: 23%;
    margin-right: 14px;
}

.entering {
    float: left;
    margin-right: 16%;
}

.acc {
    float: left;
    margin-left: 8%;
}

.enter-block a {
    display: block;
    line-height: 3;
    font-family: JosefinSans-Light;
    font-size: 11px;
    float: left;
    text-transform: uppercase;
    color: #3f3f3f;
    font-weight: bold;
}

header {
    width: 100%;
    height: 105px;
    overflow: hidden;
}

.header-inner {
    width: 978px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.logo {
    width: 22%;
    /*height: 52px;*/
    margin-top: 2.1%;
    margin-right: 4.3%;
    float: left;
}

.logo a {
    display: block;
    width: 100%;
    height: auto;
}

.logo img {
    display: block;
    width: 100%;
    height: auto;
}

.header-menu {
    width: 65%;
    height: auto;
    float: left;
    margin-top: 50px;
}

.header-menu li {
    float: left;
    width: auto;
    height: 100%;
    margin-right: 7.3%;
}

.header-menu a {
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-family: JosefinSans-Bold;
    color: #414042;
    text-transform: uppercase;
}

.header-menu li:last-child {
    margin-right: 0px;
}

.search {
    width: 25px;
    height: 28px;
    float: right;
    margin: 44px 0 0 0;
    cursor: pointer;
    display: block;
}
.search input{
	background: url(../img/sprites.png) no-repeat;
	background-position: -47px -6px;
	width: 100%;
	height: 100%;
	display: block;
}
.product {
    width: 100%;
    height: 820px;
    overflow: hidden;
}

.product-inner {
    width: 978px;
    height: 100%;
    margin: 0 auto;
}

.link-line {
    width: 84%;
    height: 6%;
}

.link-line a {
    background: url(../img/str.png) no-repeat right center;
    display: block;
    float: left;
    margin-right: 0.7%;
    font-family: JosefinSans-Regular;
    font-size: 14px;
    color: #b8b8b8;
    line-height: 2.6;
    letter-spacing: 1px;
    padding-right: 0.9%;
}

.link-line a:last-child {
    background: none;
}

.foto-set {
    width: 49%;
    height: 100%;
    float: left;
    margin-right: 4.5%;
    position: relative;
}

.foto-set .photo {
    width: 100%;
    height: 617px;
}

.foto-set .photo img {
    width: 100%;
    height: auto;
}

.add {
    background: url(../img/add.png) no-repeat;
    width: 60px;
    height: 55px;
    position: absolute;
    top: 68.5%;
    left: 88%;
}

.small-img {
    width: 100%;
    height: 95px;
    margin-top: 15px;
}

.small-img .img-wrap {
    width: 75px;
    height: 100%;
    float: left;
    margin-right: 15px;
}

.small-img .img-wrap:last-child {
    margin-right: 0px;
}

.description {
    width: 46%;
    height: 100%;
    float: left;
    margin-top: -0.5%;
}

.description h2 {
    font-family: GildaDisplay-Regular;
    font-size: 24px;
    color: #414042;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}

.description span {
    display: block;
    font-family: GildaDisplay-Regular;
    font-size: 16px;
    color: #bf1313;
    margin-top: 1.6%;
    text-decoration: line-through;
    letter-spacing: 1px;
}

.description h4 {
    display: block;
    font-family: GildaDisplay-Regular;
    font-size: 24px;
    color: #b2b1af;
    margin-top: 1.2%;
    margin-left: 0.6%;
    margin-bottom: 3.03%;
    letter-spacing: 1px;
}

.description h3 {
    margin-top: 4.3%;
    font-family: JosefinSans-Regular;
    font-size: 14px;
    color: #414042;
    text-transform: uppercase;
}

.description p {
    margin-top: 4%;
    font-family: JosefinSans-Regular;
    font-size: 14px;
    color: #414042;
    line-height: 1.28;
    letter-spacing: 1px;
}

.description ul {
    margin-top: 3%;
    margin-left: 3.2%;
    margin-bottom: 6.2%;
}

.description li {
    font-family: JosefinSans-Regular;
    font-size: 14px;
    color: #414042;
    line-height: 1.68;
    list-style: initial;
}

.size-block {
    width: 100%;
    height: 80px;
}

.size-block h5 {
    text-transform: uppercase;
    font-size: 14px;
    color: #414042;
    margin-top: 26px;
    margin-bottom: 10px;
}

.size-pic {
    width: 7%;
    height: 17%;
    background: url(../img/sprites.png) no-repeat;
    background-position: -85px -20px;
    float: left;
    margin-left: 13%;
    margin-right: 6.5%;
}

.chart-but {
    font-family: JosefinSans-Regular;
    font-size: 14px;
    color: #414042;
    text-decoration: underline;
    text-transform: uppercase;
    margin-top: 1.2%;
    display: block;
    float: left;
    letter-spacing: 1px;
}

.quantity {
    width: 100%;
    height: auto;
}

.quantity h5 {
    text-transform: uppercase;
    font-size: 14px;
    color: #414042;
    margin-top: 1.1%;
    margin-bottom: 1.5%;
    letter-spacing: 0.7px;
}

.q-ty {
    width: 67px;
    height: 36px;
    border: 1px solid #cccccc;
    background: url(../img/sprites.png) no-repeat;
    background-position: -134px -7px;
    font-family: JosefinSans-Regular;
    font-size: 14px;
    color: #414042;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 9px 19px;
    cursor: pointer;
}

select option:first-child {
    margin: 11px 20px;
    display: block;
}

.box-buy {
    width: 102%;
    height: 80px;
    margin-top: 25px;
}

.box-buy a:last-child {
    margin-right: 0px;
}

.box-buy a {
    display: block;
    width: 48%;
    height: 45px;
    background: #e9e8e7;
    float: left;
    margin-right: 2.1%;
    font-family: GildaDisplay-Regular;
    font-size: 14px;
    color: #666566;
    text-transform: uppercase;
    text-align: center;
    line-height: 3.2;
}

.box-buy .wish {
    background: none;
    border: 1px solid #d8d8d8;
}

.options {
    width: 100%;
    height: auto;
}

.options a {
    float: left;
    margin-right: 21px;
    font-family: JosefinSans-Regular;
    font-size: 14px;
    color: #414042;
    text-decoration: underline;
    text-transform: uppercase;
    margin-top: 7px;
    display: block;
    float: left;
}

.options a:hover {
    text-decoration: none;
}

.share .main-a {
    text-transform: uppercase;
    font-size: 14px;
    color: #414042;
    margin-right: 47px;
    float: left;
    margin-top: 3px;
    display: block;
    font-family: JosefinSans-Regular;
}

.share {
    width: auto;
    height: 30px;
    margin-top: 71px;
}

.share a {
    width: 22px;
    height: 25px;
    float: left;
    display: block;
    margin-right: 19px;
}

.share a:last-child {
    margin-right: 0px;
}

.also-like {
    width: 100%;
    height: 560px;
    border-top: 1px solid #707071;
    overflow: hidden;
    margin-top: 13px;
}

.also-like-inner {
    width: 978px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.examples {
    width: 100%;
    height: 450px;
    margin-top: 40px;
}

.examples .prod {
    width: 23.6%;
    float: left;
    margin-right: 1%;
}

.img-holder {
    width: 240px;
    height: auto;
}

.img-holder a {
    display: block;
    width: 100%;
    height: auto;
}

.examples .prod:last-child {
    margin-right: 0px;
}

.also-like-inner h2 {
    font-family: GildaDisplay-Regular;
    font-size: 24px;
    text-align: center;
    color: #414042;
    display: block;
    text-transform: uppercase;
    margin-top: 51px;
    letter-spacing: 1px;
}

.examples .prod img {
    width: 100%;
    height: auto;
}

.dress {
    max-height: 304px;
    width: 76% !important;
}

.title {
    display: block;
    font-family: JosefinSans-Regular;
    font-size: 14px;
    text-transform: uppercase;
    color: #757576;
    text-align: center;
    margin-top: 16%;
}

.examples .prod h3 {
    display: block;
    margin-top: 5px;
    font-family: JosefinSans-Regular;
    font-size: 18px;
    color: #bdbdbb;
    text-align: center;
}

#back-to-top {
    display: none;
    background: url(../img/back.png) no-repeat 14px 0px;
    width: 75px;
    height: 45px;
    position: fixed;
    font-family: JosefinSans-Regular;
    font-size: 11px;
    color: #d3d3d3;
    text-transform: uppercase;
    padding-top: 34px;
    top: 75%;
    left: 93.1%;
}

.social {
    width: 100%;
    height: 53px;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
}

.icons {
    margin: 0 auto;
    width: 307px;
    height: 100%;
    overflow: hidden;
}

.icons a {
    display: block;
    float: left;
    width: 20px;
    height: 100%;
    margin-right: 51px;
    line-height: 4;
}

.icons a:last-child {
    margin-right: 0px;
}

.about {
    width: 100%;
    height: 225px;
    background: #f5f5f5;
}

.about-inner {
    width: 1024px;
    height: 100%;
    margin: 0 auto;
}

.col1 {
    width: 158px;
    height: auto;
    margin-top: 37px;
    margin-left: 24px;
    float: left;
    cursor: pointer;
}

.col1 h2 {
    font-family: GildaDisplay-Regular;
    font-size: 14px;
    color: #404041;
    text-transform: uppercase;
    display: block;
    margin-bottom: 21px;
    letter-spacing: 1px;
}

.col1 a:hover {
    text-decoration: underline;
}

.col1 a {
    font-family: JosefinSans-Regular;
    font-size: 11px;
    color: #a5a5a6;
    text-transform: uppercase;
    line-height: 2.1;
    letter-spacing: 1px;
}

.col2 {
    margin-left: 115px !important;
}

.newsletter {
    width: 245px;
    height: auto;
    margin-top: 47px;
    float: left;
    margin-left: 26%;
}

.newsletter h2 {
    font-family: JosefinSans-Regular;
    font-size: 14px;
    color: #404041;
    text-transform: uppercase;
    display: block;
    margin-bottom: 34px;
    letter-spacing: 1px;
}

.newsletter form {
    width: 100%;
    height: 100%;
    display: block;
}

.newsletter input[type="text"] {
    border: medium none;
    border-bottom: 1px solid #585859;
    background: inherit;
    width: 100%;
    margin-bottom: 18px;
}

/*.newsletter input[type="submit"]:-moz-placeholder {
	font-family: JosefinSans-Regular;
	font-size: 11px;
	color: #999999;
}*/
.newsletter input[type="text"], [placeholder] {
    font-family: JosefinSans-Regular;
    font-size: 11px;
    color: #999999;
    padding-bottom: 9px;
    letter-spacing: 1.5px;
}

/*for Chrome*/

.newsletter input[type="text"]::-webkit-input-placeholder {
    font-family: JosefinSans-Regular;
    font-size: 11px;
    text-transform: uppercase;
    color: #999999;
    padding-bottom: 10px;
}

.newsletter input[type="submit"] {
    border: 1px solid #4d4c4e;
    width: 145px;
    line-height: 2;
    font-family: GildaDisplay-Regular;
    font-size: 14px;
    color: #535254;
    text-transform: uppercase;
    background: inherit;
    letter-spacing: 1px;
}

footer {
    width: 100%;
    height: 35px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

.ecommerce {
    width: 38%;
    height: 100%;
    float: right;
}

.ecommerce div {
    font-family: JosefinSans-Light;
    font-size: 10px;
    color: #929192;
    text-transform: uppercase;
    text-align: center;
    line-height: 3.5;
    float: left;
    letter-spacing: 0.8px;
}

.ecommerce div:first-child {
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    width: 165px;
}

.ecommerce div:last-child {
    width: 175px;
    border-right: 1px solid #cccccc;
}

.pop-up-size {
    display: none;
    width: 890px;
    height: 550px;
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 18%;
    background: #fff;
    border-radius: 3px 3px;
}

.pop-up-size h2 {
    font-family: GildaDisplay-Regular;
    font-size: 29px;
    color: #414042;
    margin-top: 55px;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
}

.table {
    width: 770px;
    height: 245px;
    margin: 0 auto;
}

.row {
    width: 100%;
    height: 30px;
    background: #f4f3f3;
}

.col-main {
    width: 295px !important;
    margin-left: 5px;
}

.col {
    font-family: JosefinSans-Regular;
    float: left;
    font-size: 14px;
    color: inherit;
    text-transform: uppercase;
    line-height: 2;
    margin-right: 35px;
    width: 16px;
}

.col:last-child {
    margin-right: 0px;
}

.white {
    background: none;
}

.close {
    width: 12px;
    height: 13px;
    background: url(../img/close.png) no-repeat;
    position: absolute;
    top: 5%;
    left: 90%;
}

.currency-chose {
    display: none;
    width: 110px;
    height: auto;
    background: #e9e8e7;
    position: absolute;
    top: 34px;
    left: 0;
    font-family: JosefinSans-Regular;
    font-size: 14px;
    color: inherit;
    text-transform: uppercase;
    text-align: center;
    line-height: 3
}

.currency-chose a {
    width: 100%;
    height: 40px;
    display: block;
    border-bottom: 1px solid #929293;

}

.currency:hover .currency-chose {
    display: block;
}

.size-block input[type=checkbox]:not(old),
.size-block input[type=radio   ]:not(old) {
    width: 28px;
    margin: 0;
    padding: 0;
    opacity: 0;
    position: absolute;
}

.size {
    width: 10%;
    height: 40%;
    border: 1px solid #d3d3d3;
    float: left;
    margin-right: 1.6%;
}

.size p {
    font-family: JosefinSans-Regular;
    font-size: 14px;
    color: #414042;
    line-height: 2.3;
    display: block;
    margin: 0px;
    text-align: center;
    cursor: pointer;
}

.size-block div:last-child {
    margin-right: 0px;
}

.q-ty option:first-child {
    display: block;
    margin: 0 auto;
}

input[type="radio"]:checked + p {
    background: #e9e8e7;
}

.shop-drop-down {
    display: none;
    width: 100%;
    height: 297px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    position: absolute;
    top: 140px;
    left: 0;
    background: #fff;
    overflow: hidden;
    z-index: 9999;
}

.shop-drop-down-inner {
    width: 995px;
    height: 210px;
    margin: 45px auto;
}

.block {
    border-right: 1px solid #cccccc;
    float: left;
    width: 48%;
    height: 100%;
}

.block h2 {
    font-family: GildaDisplay-Regular;
    font-size: 18px;
    color: #414042;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.block .img-hold {
    width: 228px;
    height: 161px;
    float: left;
}

.img-hold-right {
    width: 228px;
    height: 161px;
    float: left;
    margin-right: 10px;
}

.block .img-hold a {
    display: block;
    width: 100%;
    height: auto;
}

.block .img-hold img {
    display: block;
    width: 100%;
    height: auto;
}

.block .img-hold-right a {
    display: block;
    width: 100%;
    height: auto;
}

.block .img-hold-right img {
    display: block;
    width: 100%;
    height: auto;
}

.drop-menu {
    float: left;
    margin-left: 18px;
}

.drop-menu:last-child {
    margin-left: 52px;
}

.drop-menu li {
    line-height: 2;
}

.drop-menu a {
    font-family: GildaDisplay-Regular;
    font-size: 14px;
    color: #414042;
    text-transform: uppercase;
    display: block;
}

.range .img-hold {
    margin-right: 10px;
    float: left;
}

.range h3 {
    float: left;
    font-family: GildaDisplay-Regular;
    font-size: 14px;
    color: #414042;
    text-transform: uppercase;
    display: block;
    margin-top: 10px;
}

.range {
    margin-left: 30px;
    border-right: none;
}

.full-size-pop-up {
    display: none;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    background-color: rgba(225, 225, 225, 0.5);
}

.full-size-pop-up-inner {
    background: #fff;
    width: 880px;
    height: 1275px;
    overflow: hidden;
    margin: 0 auto;
    /*	left: 19%;
        top: 40%;*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
}

.full-size-pop-up .full-size-pic {
    width: 798px;
    height: 1235px;
    margin: 45px auto;
}

.full-size-pop-up .full-size-pic img {
    width: 100%;
    height: auto;
    margin-top: 45px;
    position: relative;
}

/*.first-pup-pic{
	display: block !important;
}*/
.next {
    width: 20px;
    height: 39px;
    color: #000;
    position: absolute;
    top: 56%;
    right: 27px;
}

#slider {
    width: 720px;
    height: auto;
    overflow: hidden;
    /*position: relative;*/
}

#slider .slides {
    display: block;
    width: 6000px;
    height: 100%;
    margin: 0;
    padding: 0;
}

#slider .slide {
    float: left;
    width: 720px;
    height: auto;
}

/*-------------------------HOME-PAGE------------*/
.main-slider {
    width: 100%;
    height: 650px;
}

.main-slider-inner {
    max-width: 1395px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
}

.slides {
    width: 100%;
    height: 654px;
    overflow: hidden;
}

.slides img {
    width: 100%;
    height: auto;
}

.slider-title {
    position: absolute;
    top: 33%;
    left: 14%;
    width: 417px;
    height: 210px;
    text-align: center;
    z-index: 1;
}

.slider-title span {
    text-transform: uppercase;
    font-family: JosefinSans-Regular;
    font-weight: bolder;
    font-size: 14px;
    color: #414042;
    margin-top: 15px;
    letter-spacing: 1px;
    margin-left: -17px;
}

.slider-title h2 {
    font-family: GildaDisplay-Regular;
    font-size: 32px;
    line-height: 1.00;
    text-transform: uppercase;
    margin-top: 10px;
    letter-spacing: 2px;
    color: inherit;
    margin-left: -7px;
}

.slider-title p {
    letter-spacing: 0.5px;
    margin-top: 10px;
    font-family: JosefinSans-Regular;
    font-size: 14px;
    color: inherit;
    line-height: 1.25;
    display: block;
}

.slider-title a {
    border-top: 1px solid #6b6b6c;
    display: block;
    font-family: GildaDisplay-Regular;
    font-size: 16px;
    text-transform: uppercase;
    float: left;
    width: 99px;
    color: inherit;
    padding-top: 35px;
    letter-spacing: 1px;
    margin: 35px 0 0 36%;
}

.slider-title hr {
    margin-top: 28px;
    width: 80px;
    display: block;
}

.container {
    width: 100%;
    height: 745px;
}

.container-inner {
    max-width: 1336px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.top {
    width: 100%;
    height: 493px !important;
}

.right {
    width: auto;
    margin-right: 0px !important;
}

.block-holder {
    width: 49%;
    height: 100%;
    float: left;
    overflow: hidden;
    margin-right: 1%;
    position: relative;
    cursor: pointer;
}

.block-holder img {
    width: 100%;
    height: 100%;
    display: block;
}

.left img {
    width: 100%;
    height: 100%;
    display: block;
}

.section-text {
    width: 100%;
    height: 49%;
    margin-right: 1%;
    overflow: hidden;
    margin-bottom: 10px;
    overflow: hidden;
}

.section-img {
    width: 25%;
    height: 100%;
    float: right;
    background: grey;
}

.section {
    width: 49%;
    height: 100%;
    float: left;
    margin-right: 1%;
    overflow: hidden;
}

.section:last-child {
    margin-right: 0px;
    width: 50% !important;
}

.section-text h2 {
    display: block;
    font-family: GildaDisplay-Regular;
    padding-top: 30px;
    margin: 0 auto;
    font-size: 24px;
    color: #414042;
    text-align: center;
    text-transform: uppercase;
    width: 125px;
    line-height: 1.3;
}

.section-text p {
    margin: 0 auto;
    font-family: JosefinSans-Regular;
    font-size: 14px;
    line-height: 1.25;
    width: 220px;
    color: inherit;
    text-align: center;
    padding-top: 7px;
}

.banner {
    width: 100%;
    height: 49%;
    background: #ececec;
    overflow: hidden;
}

.banner h3 {
    width: 105px;
    font-family: GildaDisplay-Regular;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 25px;
    margin: 0 auto;
    line-height: 1.25;
}

.banner hr {
    width: 75px;
    text-align: center;
    display: block;
    height: 2px;
    background: #c1c1c1;
    border: none;
}

.banner a {
    display: block;
    font-family: GildaDisplay-Regular;
    font-size: 16px;
    text-transform: uppercase;
    color: #414042;
    margin-top: 25px;
    text-align: center;
}

.section-container {
    height: 245px;
    margin-top: 10px;
}

.section-banner {
    width: 49%;
    float: left;
    height: 100%;
    overflow: hidden;
    margin-right: 1%;
}

.section-banner:last-child {
    margin-right: 0px;
}

.banner-left {
    width: 49%;
    height: 100%;
    float: left;
    background: #ececec;
    margin-right: 1%;
    overflow: hidden;
    position: relative;
}

.banner-left h3 {
    width: 105px;
    font-family: GildaDisplay-Regular;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
    margin: 0 auto;
    line-height: 1.25;
}

.banner-left hr {
    width: 75px;
    text-align: center;
    display: block;
    height: 2px;
    background: #c1c1c1;
    border: none;
}

.banner-left a {
    display: block;
    font-family: GildaDisplay-Regular;
    font-size: 16px;
    text-transform: uppercase;
    color: #414042;
    margin-top: 25px;
    text-align: center;
}

.banner-left img {
    display: block;
    width: 100%;
    height: auto;
}

/*.banner-left:last-child{
	margin-right: 0px;
}*/
.banner-left p {
    font-family: GildaDisplay-Regular;
    font-size: 14px;
    color: inherit;
    padding-top: 20px;
    width: 210px;
    margin: 0 auto;
    line-height: 1.5;
    text-align: center;
}

/*.banner-left {
	width: 4%;
	height: 100%; 
	float: left;
}*/
.section-banner img {
    width: 100%;
    height: auto;
    display: block;
}

.section-banner:last-child {
    width: 50%;
}

.banner-left:last-child {
    margin-right: 0px !important;
    width: 50% !important;
}

.also-like-inner p {
    width: 581px;
    text-align: center;
    margin: 20px auto;
    line-height: 1.25;
    font-family: JosefinSans-Regular;
    font-size: 14px;
    color: inherit;
}

.bigger-height {
    height: 610px !important;
}

/*-------------------Home-page end----------------*/
/*----------------------HOVER-BLOCK------------------*/
.hover-block {
    display: none;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    opacity: 0.5;
    z-index: 1;
}

.block-holder:hover .hover-block {
    display: block;
}

.hover-block-inner {
    width: 240px;
    height: 210px;
    margin: 190px auto 0;
}

.hover-block-inner span {
    display: block;
    font-family: JosefinSans-Regular;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
}

.hover-block-inner h3 {
    font-family: GildaDisplay-Regular;
    font-size: 32px;
    color: #fff;
    display: block;
    text-transform: uppercase;
    text-align: center;
    margin-top: 15px;
    /*line-height: 1.25;*/
}

.section-hover {
    display: none;
    background: #000;
    position: absolute;
    top: 0;
    left: 2;
    width: 50%;
    height: 100%;
    float: left;
    overflow: hidden;
    opacity: 0.5;
    z-index: 1;
}

.section:last-child:hover .section-hover {
    display: block;
}

.section-hover-inner {
    width: 110px;
    height: 80px;
    margin: 195px auto 0;
}

.section-hover-inner span {
    text-transform: uppercase;
    display: block;
    text-align: center;
    font-family: JosefinSans-Regular;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
}

.section-hover-inner h2 {
    font-family: GildaDisplay-Regular;
    font-size: 32px;
    color: #fff;
    text-transform: uppercase;
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin-top: 15px;
}

.hover-banner-left {
    display: none;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.5;
}

.banner-left:hover .hover-banner-left {
    display: block;
}

.hover-banner-left-inner {
    width: 185px;
    height: 96px;
    margin: 80px auto;
}

.hover-banner-left-inner span {
    text-transform: uppercase;
    display: block;
    text-align: center;
    font-family: JosefinSans-Regular;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
}

.hover-banner-left-inner h2 {
    font-family: GildaDisplay-Regular;
    font-size: 32px;
    color: #fff;
    text-transform: uppercase;
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin-top: 15px;
}

/*------------------end------*/
/*----------main slider---*/
.flex-control-paging {
    width: auto;
    height: auto;
    position: absolute;
    top: 96%;
    left: 48%;
}

.flex-direction-nav {
    display: none;
}

.flex-control-paging li {
    float: left;
    display: block;
}

.flex-control-paging a {
    width: 10px;
    height: 10px;
    background: url(../img/nav.png) no-repeat;
    display: block;
    text-indent: -9999px;
    float: left;
    margin-right: 20px;
    float: left;
    /*	position: absolute;
        top: 0;
        left: 0;*/
}

.flex-active {
    display: block;
    background: url(../img/active.png) no-repeat !important;

}

/*------------------------list----------------------*/
.hero-banner {
    width: 100%;
    height: 520px;
    overflow: hidden;
    border-bottom: 1px solid #999999;
    position: relative;
}

.hero-banner-inner {
    width: 1920px;
    height: 100%;
    margin: 0 auto;
}

.slider-list {
    width: 100%;
    height: auto;
}

.slider-list ul {
    width: 100%;
    height: 100%;
}

.slider-title-list {
    position: absolute;
    top: 34%;
    left: 20%;
    width: 360px;
    height: auto;
    text-align: center;
}

.slider-title-list h3 {
    display: block;
    font-family: GildaDisplay-Regular;
    font-size: 32px;
    color: #414042;
    text-transform: uppercase;
    text-align: center;
}

.slider-title-list p {
    display: block;
    font-size: 14px;
    font-size: 14px;
    color: #414042;
    font-family: JosefinSans-Regular;
    text-align: center;
    margin-top: 20px;
    line-height: 1.3;
}

.links {
    width: 21%;
    height: auto;
    position: absolute;
    top: 2.2%;
    left: 13.5%;
    letter-spacing: 1px;
}

.links a {
    background: url(../img/str.png) no-repeat 98% 62%;
    width: auto;
    float: left;
    display: block;
    font-family: JosefinSans-Regular;
    font-size: 14px;
    color: #999999;
    padding-right: 14px;
}

.links a:last-child {
    background: none;
}

.filter {
    width: auto;
    height: 100%;
    display: block;
    margin: 15px 29%;
    float: left;
}

.filter div {
    font-family: JosefinSans-Regular;
    font-size: 14px;
    color: #414042;
    background: url(../img/filter-str.png) no-repeat 98% 38%;
    padding-right: 20px;
    float: left;
    margin-right: 60px;
    text-transform: uppercase;
}

.items {
    width: 100%;
    height: 1485px;
}

.items-inner {
    width: 905px;
    height: 100%;
    margin: 0 auto;
}

.item {
    width: 23.2%;
    height: auto;
    float: left;
    margin-right: 2%;
    margin-top: 65px;
}

.last {
    margin-right: 0px;
}

.img-cont {
    width: 100%;
    height: auto;
}

.item img {
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 50px;
    display: block;
    max-height: 283px;
}

.item h3 {
    text-align: center;
    font-family: JosefinSans-Regular;
    font-size: 14px;
    color: #999999;
    display: block;
    text-transform: uppercase;
}

.item span {
    margin-top: 4px;
    display: block;
    text-decoration: line-through;
    text-align: center;
    color: #bf1313;
    font-family: GildaDisplay-Regular;
    font-size: 14px;
}

.item a {
    display: block;
    color: #b2b1af;
    font-family: GildaDisplay-Regular;
    font-size: 18px;
    text-align: center;
    margin-top: 5px;
}

.next-items {
    float: left;
    width: 80px;
    height: 100px;
    margin-left: 50px;
    margin-top: 150px;
    text-transform: uppercase;
}

.item a {
    width: 100%;
    height: auto;
}

.next-items a {
    background: url(../img/next-item.png) no-repeat 100% 20%;
    display: block;
    text-align: center;
    font-family: GildaDisplay-Regular;
    font-size: 30px;
    color: #b2b1af;
    padding-bottom: 20px;
    padding-right: 105px;
    border-bottom: 1px solid #b2b1af;
}

.next-items span {
    font-family: JosefinSans-Regular;
    font-size: 14px;
    text-align: center;
    color: #b2b1af;
    display: block;
    margin-top: 25px;
}

/*------------------------list-end----------------------*/
/*------------------------checkout----------------------*/
.chekout-header {
    width: 100%;
    height: 85px;
    border-bottom: 1px solid #d3d3d3;
}

.chekout-header-inner {
    width: 997px;
    height: 100%;
    margin: 0 auto;
}

.chekout-header-inner a {
    width: 250px;
    border: 1px solid #ccc;
    margin-top: 27px;
    height: 45px;
    text-align: center;
    font-family: GildaDisplay-Regular;
    font-size: 14px;
    display: block;
    line-height: 3;
    text-transform: uppercase;
    color: #414042;
    float: left;
    margin-right: 85px;
}

.chekout-header-inner h3 {
    display: block;
    text-transform: uppercase;
    color: #414042;
    font-family: GildaDisplay-Regular;
    text-align: center;
    line-height: 2.9;
    font-size: 32px;
    float: left;
    letter-spacing: 3px;
}

.registration {
    width: 100%;
    height: 544px;
}

.registration-inner {
    width: 905px;
    height: 100%;
    margin: 60px auto;
}

.reg {
    width: 420px;
    border: 1px solid #d3d3d3;
    float: left;
    height: 424px;
    margin-right: 58px;
}

.yet {
    margin-right: 0px;
}

.reg h3 {
    font-family: GildaDisplay-Regular;
    color: #414042;
    text-transform: uppercase;
    font-size: 24px;
    display: block;
    margin-top: 45px;
    text-align: center;
}

.reg p {
    line-height: 1.25;
    width: 342px;
    display: block;
    font-family: JosefinSans-Regular;
    font-size: 14px;
    color: #999999;
    text-align: center;
    margin: 20px auto 40px;
}

.registration input[type="text"] {
    width: 345px;
    height: 45px;
    border: 1px solid #cccccc;
    display: block;
    margin-left: 40px;
    margin-top: 10px;
}

.registration input[type="text"], [placeholder] {
    font-family: JosefinSans-Regular;
    font-size: 11px;
    color: #999999;
    line-height: 2;
    letter-spacing: 1.5px;
    padding-left: 10px;
}

/*for Chrome*/

.registration input[type="text"]::-webkit-input-placeholder {
    font-family: JosefinSans-Regular;
    font-size: 11px;
    text-transform: uppercase;
    color: #999999;
    line-height: 2;
    padding-left: 10px;
}

.registration input[type="submit"] {
    display: block;
    width: 160px;
    height: 45px;
    background: #e9e8e7;
    font-family: GildaDisplay-Regular;
    font-size: 14px;
    color: #666566;
    text-transform: uppercase;
    text-align: center;
    line-height: 3.2;
    border: none;
    margin: 70px auto 0;
}

.registration form a {
    display: block;
    font-family: JosefinSans-Regular;
    font-size: 14px;
    color: #414042;
    text-decoration: underline;
    float: right;
    margin-top: 10px;
    margin-right: 22px;
}

.registration form a:hover {
    text-decoration: none;
}

.reg .yet form {
    margin-top: 40px;
    width: 100%;
    height: auto;
}

.reg .yet form p {
    font-family: JosefinSans-Regular;
    color: #414042;
    font-size: 14px;
    text-transform: uppercase !important;
    display: block;
    margin-top: 35px;
}

.registration input[type="checkbox"] {
    width: 15px;
    height: 15px;
    border: 1px solid #cccccc;
    background: none;
    display: block;
    float: left;
    -webkit-appearance: none;
    margin-top: 0px;
}

.registration input[type="checkbox"]:checked {
    background: url(../img/checked.jpg) no-repeat 20% 20%;
    float: left;
    display: block;
}

.continue {
    display: block;
    width: 160px;
    height: 45px;
    background: #e9e8e7;
    font-family: GildaDisplay-Regular;
    font-size: 14px;
    color: #666566;
    text-transform: uppercase;
    text-align: center;
    line-height: 3.2;
    border: none;
    margin: 84px auto 0;
}

.yet form {
    width: 235px;
    height: 75px;
    margin-left: 35px;
    overflow: hidden;
}

.yet form span {
    display: block;
    font-family: JosefinSans-Regular;
    color: #414042;
    font-size: 14px;
    text-transform: uppercase !important;

}

.yet form span:last-child {
    margin-top: 40px;
}

/*------------------------checkout-end----------------------*/
/*------------------------basket----------------------*/
.securely {
    display: block;
    width: 256px;
    margin-left: 66.5%;
    height: 45px;
    background: #e9e8e7;
    font-family: GildaDisplay-Regular;
    font-size: 14px;
    color: #666566;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
    line-height: 3.6;
}

#shopping-cart-table {
    width: 100%;
    max-width: 100%;
    margin: 0 0 40px;
    font-size: 13px;
    line-height: 16px;
    color: #999;
}

.nobr {
    white-space: nowrap !important;
}

#shopping-cart-table th, #shopping-cart-table td {
    min-width: 164px;
}

caption, th, td {
    vertical-align: top;
    text-align: left;
    font-weight: normal;
}

#shopping-cart-table th {
    font-size: 14px;
    font-family: JosefinSans-Regular;
    text-transform: uppercase;
    color: #545455;
    font-size: 14px;
    color: #414042;
    line-height: 17px;
    text-transform: uppercase;
    padding: 22px 5px 11px;
    border-bottom: 1px solid #d6d6d6;
}

.a-center {
    text-align: center !important;
}

#shopping-cart-table th:first-child, #shopping-cart-table td:first-child {
    min-width: 120px;
}

#shopping-cart-table td {
    padding: 11px 5px;
    vertical-align: top;
    border: none;
    position: relative;
    border-bottom: 1px solid #d6d6d6;
}

#shopping-cart-table .product-name {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 39px;
    margin: 0 0 47px;
    font-family: JosefinSans-Regular;
}

#shopping-cart-table .product-name a {
    color: #414042;
    text-decoration: none;
}

#shopping-cart-table .product-cart-info {
    min-width: 1px;
    text-transform: uppercase;
}

.product-size {
    font-family: JosefinSans-Regular;
    font-size: 13px;
    color: #999;
}

#shopping-cart-table .product-cart-total, #shopping-cart-table .product-cart-price {
    font: 18px/39px 'GildaDisplayRegular', "Times New Roman", serif;
}

.product-cart-image a {
    width: 100%;
    height: auto;
    display: block;
}

.product-cart-image img {
    margin: 0 auto;
    display: block;
}

#shopping-cart-table .input-text.qty {
    border: 1px solid #ccc;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 55px;
    color: #ccc;
    padding: 10px 0;
    margin-top: 10px;
}

#shopping-cart-table .product-cart-remove a {
    background: url(../img/close.png) no-repeat;
    text-indent: -9999px;
    width: 13px;
    height: 12px;
    margin: 13px 0 0;
    display: inline-block;
}

.cart-forms-row {
    overflow: hidden;
    height: 275px;
    width: 100%;
}

.cart-forms {
    float: left;
    width: 62%;
    padding: 0;
}

.cart-totals-wrapper {
    float: right;
    width: 36%;
}

#discount-coupon-form {
    float: left;
    width: 100%;
    max-width: 250px;
    text-align: left;
}

#discount-coupon-form h2 {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    margin: 0 0 25px;
    font-family: JosefinSans-Regular;
}

#discount-coupon-form .input-text {
    background: #fff;
    border: none;
    width: 100%;
    font-family: JosefinSans-Regular;
    padding: 5px 0;
    font-size: 12px;
    margin: 0;
    border-bottom: 1px solid #d6d6d6;
}

#discount-coupon-form button {
    min-width: 48%;
    margin: 17px 2% 0 0;
    float: left;
}

@media screen and (max-width: 1490px) {
    .cart-forms {
        padding: 0 0 0 20px;
    }
}

textarea, select, button, input {
    border-radius: 0;
    color: #2f2f2f;
    border: 0;
    outline: none;
}

/*.button2 span{
	font-family: GildaDisplay-Regular;
	font-size: 14px;
	text-transform: uppercase;
	border: 1px solid #cfcfcf;
	color: #414042;
	background: none;
}*/
#discount-coupon-form button, .cart .button {
    border: 1px solid #d6d6d6;
    display: inline-block;
    vertical-align: top;
    width: 145px;
    text-align: center;
    padding: 12px 10px 10px;
    cursor: pointer;
    background: #fff;
    margin-top: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #414042;
    font: 14px/17 pxGildaDisplay-Regular, serif;
}

.payment-methods {
    width: 160px;
    height: 100px;
    margin-left: 80px;
    float: left;
}

.payment-methods h2 {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    margin: 0 0 20px;
    font-family: JosefinSans-Regular;
}

.pay-methods-holder {
    width: 100%;
    height: 60px;
}

.pay-methods-holder a {
    display: block;
    height: 27px;
    width: 48px;
    margin-right: 5px;
    margin-top: 5px;
    float: left;
}

.sum-pay {
    width: 255px;
    height: 155px;
    margin: 20px 10px 0 0;
    float: right;
}

.sub-total span {
    text-align: right;
    color: #999;
    text-transform: uppercase;
    font-family: GildaDisplay-Regular;
    font-size: 14px;
    line-height: 17px;
    padding: 0 0 25px;
    min-width: 140px;
}

.sub-total span:first-child {
    font-family: JosefinSans-Regular;
    margin-right: 110px;
}

.total {
    margin-top: 45px;
}

.total span {
    font-family: GildaDisplay-Regular;
    font-size: 24px;
    color: #414042;
    text-transform: uppercase;
}

.total span:first-child {
    margin-right: 57px;
}

.sum-pay a {
    margin-top: 35px;
    background: #e9e8e7;
    display: block;
    vertical-align: top;
    min-width: 1px;
    text-align: center;
    padding: 12px 10px 10px;
    cursor: pointer;
    text-transform: uppercase;
    color: #414042;
    font: 14px/17px GildaDisplay-Regular;
}

/*.prod-table{
	margin: 40px auto;
}
.prod-table th{
	font-size: 14px;
	font-family: JosefinSans-Regular;
	text-transform: uppercase;
	color: #545455;

}

.prod-name span{
	font-size: 18px;
	font-family: JosefinSans-Regular;
	text-transform: uppercase;
	color: #545455;
	display: block;
}
.prod-name p{
	color: #999999;
	display: block;
	font-size: 13px;
	font-family: JosefinSans-Regular;

	color: #545455;
	display: block;
}
.prod-table tbody{
	width: 100%;
	height: 160px;
	border-top: 1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;
}
.prod-table tbody tr td{

}
.prod-table thead tr{

}
.prod-table thead tr th{
	width: auto;
	height: auto;
	margin-left: 170px;
}
.prod-name span{

}
.table-img{
	width: 180px;
	height: 100%;
}

/*.prod-table thead{
	display: block;
	width: 100%;
	height: auto;
	border-bottom: 1px solid #d6d6d6;
}*/
/*------------------------basket-end----------------------*/
